@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    height:100%;
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}

.section{
    padding: 25vh 0;
}

.container{
    max-width: 1180px;
    text-align: center;
    margin: 0 auto;
    padding: 0 3rem;
}

/* Header */

header{
    position:relative;
}
header ul{
    float:right;
    margin-top:10px;
    padding:0.4rem 1.3rem;
    list-style: none;
    font-size:13px;
    display:flex;
    align-items:center;
    
}

header li{
    float:left;
    margin:auto 0.6rem;
    display:flex;
    align-items:center;
}

header a{
    text-decoration: none;
    display:flex;
    align-items:center;
    margin:auto;  
    color:#222;  
}

header a:hover{
    color:#666;
    text-decoration:underline;
}

header a:visited{
    color:#444;
}

#gmail,
#images,
.programs {
    padding-top:0px;
    
}

/* G o o g l e */

#firstletter, #fourthletter{
    color:#4885ed;
}

#secondletter, #sixthletter{
    color:#db3236;
}

#thirdletter{
    color:#f4c20d;
}

#fifthletter{
    color:#3cba54;
}

.google-letter{
    display:inline-block;
    margin:4vh -3px;
    font-size:5.5rem;
    font-weight: bold;
    

}

#search input{
    width: 47%;
    margin-bottom:2rem;
    padding:0.8rem;
    box-shadow:2px 2px 8px rgb(207, 206, 206);
    border-radius: 2px;
    border-width: 0px;
    border-color:#fff;
}

#search input:hover{
    box-shadow:3px 3px 8px #aaa;
  
}

/* Footer */

footer{
    background-color:#ddd;
    width:100%;
    font-size:14px;
    position:absolute;
    bottom:0;
    display: flex;
    flex-direction:column;
    margin-bottom:0;
    overflow-y:hidden;
   
}

.lower-footer li{
    display:inline-block;
    padding-right: 1.5rem;
}

.lower-footer{
    height: 40px;
    font-size: 13px;
    background-color:#eee;
    color: #444;
    padding:0 2rem;
}

.upper-footer{
    font-size: 16px;
    padding:0 2rem;
    color:#666;
    background-color: #eee;
    border-top-style: solid;
    border-bottom-style:solid;
    border-color: #ccc;
    border-width: 0.5px;
    height: 40px;
    display: flex;
justify-content: left; /* align horizontal */
align-items: center; /* align vertical */
    
}

#left-list{
    float:left;
    padding:0px;
}

#right-list{
    float:right;
}

.buttons button{
    margin: 0 0.5rem;
    padding:0.65rem 0.8rem;
    border-style:solid;
    border-color: #fff;
    border-width: 0.5px;
    color:#777;
    font-weight:bold;
    background-color: #eee;
}

.buttons button:hover{
    border-style: solid;
    border-color:#ddd;
    background-color: #f0f0f0;
    color:#444;
    
}

.fa-bell{
    background-color: #555;
    color:#fff;
    margin-top:0;
    padding:0.3rem 0.37rem;
    border-radius: 15px;   
}

.fa-th{
    background: #fff;
    color: #444;
    padding-top:0px;
}

header a.account{
    background-color:orchid;
    padding:0.5rem 0.8rem;
    border-radius: 200px;
    font-weight: 500;
    color:#fff;
    
}
header a.account:hover{
    text-decoration: none;
    
}