/*
*{
    margin:0;
    padding:0;
}
*/

body{
    background: #f4f4f4;
    color: rgb(80, 55, 55);

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
    /*same as above*/
    font: normal, 16px, Arial, Helvetica, sans-serif; 

    line-height: 1.6em;
    margin:0;
}

a{
    text-decoration: none;
    color:#000;

}

a:hover{
    color: #444;
    font-size: 17px;
}

a:active{
    color: green;
}
/*
a:visited{
    color:black;
}
*/
.container{
    width: 80%;
    margin:auto;
}

.button{
    background: #333;
    color: #fff;
    padding: 10px 15px;
    border:none;
    border-radius: 4px;
}

.button:hover{
    background-color: red;
    color:#fff;
}

.clr{
    clear:both;
}

.box-1{
    background-color: #333;
    color: #fff;
    /*border-right: 5px red solid;*/
    border: 5px red solid;
    border-bottom-width:10px;
    border-top-style:double;

    padding-top:20px;
    padding:20px;

    margin-top:20px;
    margin:20px;
}

.box-1 h1{
    padding:5px 10px 10px 0px;
    font-family: Tahoma;
    font-weight: 800;
    font-style:italic;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    word-spacing: 1em;
}

.box-2{
    border: 3px dotted #ccc;
    padding: 20px;
    margin: 20px 0;
}
.categories{
    border: 1px lightgray solid;
    padding: 10px;
    border-radius: 15px;
}
.categories h2{
    text-align: center;
}

.categories ul{
    padding:0;
    list-style: none;
    padding-left:20px;
}

.categories li{
    padding-bottom: 6px;
    border-bottom:dotted 1px #333;
    list-style-image: url('../images/check.png');
    
}

.my-form{
    padding: 20px;
}

.my-form .form-group{
    padding-bottom: 15px;
}

.my-form label{
    display:block;
}

.my-form input[type="text"], .my-form input[type="email"], .my-form textarea{
    padding: 8px;
    width: 100%;
}

.block{
    width: 33%;
    float: left;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
}

.block h3{
    padding:10px;
    margin: 0;
}

.block p{
    margin-top: 0;
}

#main-block{
    float:left;
    width: 70%;
}

#sidebar{
    float:right;
    width: 30%;
    background-color: #333;
    color: #fff;
    padding: 15px;
    box-sizing: border-box;
}

.p-box{
    width: 800px;
    height: 500px;
    border: 1px solid black;
    margin-top:30px;
    position:relative;
    background-image:url('../images/bg.jpg');
    background-position: 100px 200px;
    background-repeat: no-repeat;
    background-position: center center;
}

.p-box h1{
    position: absolute;
    top:100px;
    left: 200px;
}

.p-box h2{
    position:absolute;
    bottom: 200px;
    right: 100px;
}

.fix-me{
    position:fixed;
    top:400px;
}

.my-list li:first-child{
    background:red;

}

.my-list li:nth-child(even){
    background:grey;
}

.my-list li:last-child{
    background: blue;
}

.my-list li:nth-child(5){
    background:yellow;
}

