@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    margin:0;
    padding:0;
    font-family:'Roboto', sans-serif;
    font-weight:300;
    overflow: hidden;
    background:#181818;
    color:#fff;
}

h1, h2, h3, h4, h5, h6{
    font-weight:300;
}

*{
    box-sizing: border-box;
}

#wrapper{
    display:flex;
    flex-direction:row;
}

.logo{
    display:grid;
    
    grid-auto-flow: column;
    margin:1rem;
}

#left-side{
    display:flex;
    flex:1;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    height:100vh;
}

#right-side{
flex:1;
}

/*  Sign In */
.sign-in{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:80%;
    padding-bottom: 1rem;
}

.sign-in form{
    width:80%;
    padding-bottom: 3rem;
}

.sign-in .logo{
    margin-bottom:8vh;
}

.sign-in .logo img{
    width:300px;
}

.sign-in label{
    font-size:0.9rem;
    line-height:2rem;
    font-weight:500;
}

.sign-in .text-input{
    margin-bottom:1.3rem;
    width:100%;
    border-radius:2px;
    background:#181818;
    border: 1px solid #555;
    color:#ccc;
    padding: 0.5rem 1rem;
    line-height:1.3rem;
}

.sign-in .primary-btn{
    width:100%;
}

.sign-in .secondary-btn,
.or,
.links {
  width: 60%;
}

.sign-in .links a{
    display:block;
    color:#fff;
    text-decoration: none;
    margin-bottom:1rem;
    text-align:center;
    font-size:0.9rem;
}

.sign-in .or{
    display:flex;
    flex-direction: row;
    margin-bottom:1.2rem;
    align-items:center;
}

.sign-in .or .bar{
    flex:auto;
    border:none;
    height:1px;
    background:#aaa;

}

.sign-in .or span{
    color:#ccc;
    padding: 0 0.8rem;
}

/* Showcase */
#showcase{
    display:flex;
    justify-content: center;
    align-items: center;
    background:url('../img/login-bg.jpg') no-repeat center center / cover;
    height:100vh;
    text-align: center;
}

#showcase .showcase-text{
    font-size: 3rem;
    width: 100%;
    color: #fff;
    margin-bottom:1.5rem;
}

#showcase .secondary-btn{
    width:60%;
    margin:auto;
}

 /* Footer */

#main-footer{
    color:#ccc;
    text-align:center;
    font-size:0.8rem;
    max-width:80%;
    padding-top: 5rem;
}

#main-footer a{
    color: #f96816;
    text-decoration: underline;
}

/* Button */
.primary-btn{
    padding: 0.7rem 1rem;
    height:2.7rem;
    display:block;
    border:0;
    border-radius:2px;
    font-weight:500;
    background-color:#f96816;
    color:#fff;
    text-decoration: none;
    cursor:pointer;
    text-align:center;
    transition: all 0.5s;
}

.primary-btn:hover{
    background-color:#ff7b39;
}

.secondary-btn{
    padding: 0.7rem 1rem;
    height:2.7rem;
    display:block;
    border:1px solid #f4f4f4;
    border-radius:2px;
    font-weight:500;
    background-color:none;
    color:#fff;
    text-decoration: none;
    cursor:pointer;
    text-align:center;
    transition: all 0.5s;
}

.secondary-btn:hover{
    border-color:#ff7b39;
    color:#ff7b39;
}

/* Media Queries */
@media (min-width:1200px){
    #left-side{
        flex:4;
    }

    #right-side{
        flex:6;
    }
}

@media(max-width:768px){
    body{
        overflow:auto;
    }

    #right-side{
        display:none;
    }

    #left-side{
        justify-content: start;
        margin-top:4vh;
    }

    .sign-in .logo{
        margin-bottom: 2vh;
    }

    .sign-in .text-input{
        margin-bottom:0.7rem;
    }

    #main-footer{
        padding-top:1rem;
    }
}